html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    flex: auto;
    font-family: 'Times New Roman', Times, serif;
    display: grid;

}

.four {
    display: grid;

}

ul {
    padding: 2px;
    list-style: none;
    border: 3px black; 
    display: flex;
    flex-direction: column;
    gap: 6px;


}

a:hover {
    background-color: rgb(232, 143, 173);

}

a:visited, a:link, a:active {
    text-decoration: none;
}

.price {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    gap: 5px;
}

img {
    display: inline-block;
    height: auto;
    width: 25%;
}

